%p
  -if @attachable
    = @attachable.respond_to?(:user) && !@attachable.user.nil? ? "#{@attachable.user.full_name}'s" : "A"
    = @content_flag.attachable_type.titleize.downcase
  -else
    A page
  has been flagged as inappropriate.
  
-unless @content_flag.message.blank?
  %p The person who flagged the content left this message:
  %p
    %em= '"' + @content_flag.message + '"'
    
-unless @content_flag.email.blank?
  %p
    The person who flagged the content gave their email address:
    %b= @content_flag.email
  
%p
  You can view the flagged content here:
  -if @attachable
    =link_to_url(polymorphic_url(@attachable, :host => site_url))
  -else
    =content_flag_external_url(@content_flag)