:javascript
  $(document).ready(function() {
    YoomeeFancy.init();
  });
  
#content_flag_header
  #left_links
    =moderation_back_link
    - if content_flag.resolved?
      =link_to_moderation_content("Mark as unresolved", unresolve_moderation_content_flag_path(content_flag, :menu_item => "inbox"), :method => :put)
    -else
      =link_to_moderation_content("Mark as resolved", resolve_moderation_content_flag_path(content_flag, :menu_item => params[:menu_item], :content_flag_type_id => @content_flag_type.try(:id)), :method => :put)
  #right_links
    =moderation_nav_links(content_flag)
#content_flag
  %h4#content_flag_title
    ="#{content_flag.name} <span>ref #{content_flag.id}</span>".html_safe
  #flag_edit_links
    -if content_flag.has_attachable?
      =link_to("View in context", content_flag.attachable, :target => "_blank")
    -elsif !content_flag.url.blank?
      =link_to("View in context", content_flag.url, :target => "_blank")
  -if !content_flag.current_text.blank?
    #flag_text
      =read_more_truncate(simple_format("&ldquo;#{content_flag.current_text}&rdquo;"))
  -if false #content_flag.attachable.is_a?(Asset)
    .attachable_preview
      -link_to(content_flag.attachable.url(:user_large), :class => "yoomee_fancy") do
        =uploaded_asset_tag(content_flag.attachable, :medium, content_flag.attachable.description)
  %br
  #flag_history
    %p
      %strong History
    %ul.flag_history
      -if content_flag.resolved?
        %li.resolved_at_item
          Resolved
          ="by #{link_to(content_flag.resolved_by.full_name, content_flag.resolved_by, :target => '_blank')}".html_safe if content_flag.resolved_by
          ="on #{content_flag.resolved_at_string}"
      -content_flag.history(true).each do |item|
        -if item.is_a?(ContentFlagging) || !item.value.blank?
          %li{:id => "#{item.class.to_s.underscore}_#{item.id}", :class => item.class.to_s.underscore}
            -if item.is_a?(ContentFlagging)
              ="Flagged as #{content_flag_type_label(item.content_flag_type)}".html_safe
              ="by #{link_to(item.flagger.full_name, item.flagger, :target => '_blank')}".html_safe if item.flagger
              ="#{time_ago_in_words(item.created_at)} ago"
              -unless (item.message.blank? && item.email.blank?)
                =link_to("View Report", '#', onclick: "$(this).parent().toggleClass('open')")
                .report
                  -if !item.message.blank?
                    %p
                      %b Their message:
                      =item.message
                  -if !item.email.blank?
                    %p
                      %b Email:
                      =item.email
            -else
              ="Set to &ldquo;#{read_more_truncate(item.value, :length => 50, :simple_format => false)}&rdquo;".html_safe
              ="by #{link_to(content_flag.user.full_name, content_flag.user, :target => '_blank')}".html_safe unless content_flag.user.blank?
              ="#{time_ago_in_words(item.created_at)} ago"