%p
  -if @attachable
    = @attachable.respond_to?(:user) && !@attachable.user.nil? ? "#{@attachable.user.full_name}'s" : "A"
    = @attachable.class.to_s.titleize.downcase
  -else
    A page
  has been flagged as inappropriate.
  
-unless @content_flagging.message.blank?
  %p The person who flagged the content left this message:
  %p
    %em= '"' + @content_flagging.message + '"'
    
-unless @content_flagging.email.blank?
  %p
    The person who flagged the content gave their email address:
    %b= @content_flagging.email
  
%p
  You can view the flagged content here:
  -if @attachable
    =link_to_url(polymorphic_url(@attachable))
  -else
    =link_to_url(content_flag_url(@content_flagging.content_flag))