-unique_id = content_flag_type.id.to_s
:javascript
  $(document).ready(function() {
    $('##{unique_id}_content_flag_type_color_input').colorPicker();
  });
-semantic_remote_form_for content_flag_type, :loading => "ContentFlagTypeForm.loading('#{unique_id}');", :complete => "ContentFlagTypeForm.complete('#{unique_id}');", :method => method, :html => {:id => "#{unique_id}_content_flag_type_form", :class => "edit_content_flag_type_form",:style => "#{'display:none' unless show_form}"} do |form|
  -form.inputs do
    -if content_flag_type.respond_to?(:color)
      =form.input :color, :label => false, :input_html => {:class => "content_flag_type_color_input", :id => "#{unique_id}_content_flag_type_color_input"} 
    =form.input :name, :label => false, :input_html => {:class => "content_flag_type_name_input"} 
    -form.buttons do
      =form.commit_button :button_html => {:id => "#{unique_id}_content_flag_type_form_submit", :style => 'display:none'}      