-unique_id = content_flag_type.id.to_s
%div{:id => "new_content_flag_type", :class => "content_flag_type_wrapper"}
  =link_to_function "Add a new category","ContentFlagTypeForm.show_new_form();", :id => "new_content_flag_type_link", :style => "#{'display:none' if show_form}"
  #new_content_flag_type_form{:style => "#{'display:none' unless show_form}"}
    %div{:id => "#{unique_id}_content_flag_type_ajax_loader", :class => "ajax_content_flag_type_form_loader", :style => "display:none"}
      =moderation_image_tag('ajax-loader_long_bar.gif')
    =render 'content_flag_types/form', :content_flag_type => content_flag_type, :method => :post, :show_form => true  
    =link_to_function "cancel", "ContentFlagTypeForm.hide_new_form()", :id => "#{unique_id}_content_flag_type_edit_link", :class => "content_flag_type_function_link"
    =link_to_function "save", "$('##{unique_id}_content_flag_type_form').submit()", :id => "#{unique_id}_content_flag_type_save_link", :class => "content_flag_type_function_link"